<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlv-wR2KLZqa_Z608m16DDWD-vZUDTO_4</string>
	<key>GCM_SENDER_ID</key>
	<string>51820595181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zahidBd.PhoneAuth</string>
	<key>PROJECT_ID</key>
	<string>phoneauth-ee46e</string>
	<key>STORAGE_BUCKET</key>
	<string>phoneauth-ee46e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51820595181:ios:b457dc38f69c49712e49e4</string>
	<key>DATABASE_URL</key>
	<string>https://phoneauth-ee46e.firebaseio.com</string>
</dict>
</plist>